/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore uploaded files in development
/storage/*
!/storage/.keep

/node_modules
/yarn-error.log

/public/assets
.byebug_history

node_modules/

# Ignore master key for decrypting credentials and more.
/config/master.key

# My gitignore
config/database.yml
public/*

tmp/*
test/*
public/uploads/*
bin/*
config/credentials.yml.enc
