<td class="table-status">
  <% status_option = "" %>
  <% status_order.except(:Idle).each do |status, value| %>
    <% if order.status == status.to_s%>
      <% status_option += "<option selected>"+status.to_s+"</option>" %>
    <% else %>
      <% status_option += "<option>"+status.to_s+"</option>" %>
    <% end %>
  <% end %>

  <%= form_for order, url: admin_order_path(order) do |f| %>
    <%= f.select :status, status_option.html_safe, {},
   {class: "form-control sort-cate"} %>
    <%= f.submit :change, data: {confirm: "Are you sure?"}, class: "btn btn-primary" %>
  <% end %>
    <%= button_to "delete", {controller: :orders, action: :destroy,
      id: order.id }, method: :delete , data: {confirm: "Are you sure?"}, class: "btn btn-danger" %>
</td>
