<% provide :title, t(".signup") %>
<% provide :button_text, t(".create") %>
<div class="row fix suggest height-default-js">
<div class="col-sm-4"></div>
<div class="col-sm-4 fix">
  <h2><%= t(".signup") %></h2>
  <%= render "form" %>
<div class="col-sm-4"></div>
</div>
</div>
