<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
        <% if @user.admin? %>
          <b>Admin</b>
        <% else %>
        <b>Customer</b>
        <% end %>
        <% @history_orders = Order._order(@user.id).includes(:detail_orders) %>
        <%#= render "orders/index", @history_orders = Order._order(@user.id).includes(:detail_orders) %>
        <%= render partial: "orders/order_row" %>
      </h1>
    </section>
  </aside>
</div>
