<% provide :title, t(".title") %>
<div class="row fix height-default-js">
<div class="col-sm-1"></div>
<div class="col-sm-10 cart-checkout fix">
<!-- main -->
<!-- Page title -->
<div class="page_header">
    <%= t".title"%>
</div>
<div class="page_down">
  <i class="fa fa-caret-down" aria-hidden="true" style="font-size: 24px;"></i>
</div>
<!-- /Page title -->
<div class="container-fuild">
  <table id="cart" class="table table-hover table-condensed">
    <tr>
      <th style="width:50%">Product</th>
      <th style="width:10%">Price</th>
      <th style="width:8%">Quantity</th>
      <th style="width:22%" class="text-center">Subtotal</th>
    </tr>
    <tr>
    <!-- product demo -->
    <% @history.detail_orders.each do |detail| %>
      <%= render "detail_row", product: detail.product,
        detail_order: detail, show_total: current_order.total %>
    <% end %>
    <!-- /product demo -->
  </table>
</div>
<!-- /main -->
</div>
<div class="col-sm-1"></div>
</div>
