<div class="height-default-js">
<%= render partial: "recently_viewed", locals: {objects: @recently_products, title: t("static_pages.home.recently"), icon: "fa fa-history", url: recently_path, sort: true} %>
</div>
