@import "bootstrap-sprockets";

// login
$min-height: 536px;

.sslogin{
  min-height: $min-height;
  background-color: white;
}

.hide{
  display: none;
}

.myimg > img{
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 80px;
  z-index: 10000;
}
