@import "bootstrap-sprockets";

// login
.login-view{
  background-color: white;

  h1{
    padding:20px 0;
    margin: 0;
    text-align:center;
  }

  label, p,{
    margin: 5px 0;
  }

  .submit{
    width: 100%;
    margin: 5px 0;
  }

  .checkbox{
    .cblogin{
      margin-left: 0;
    }
    
    span{
      margin-left: 20px;
    }
  }
}

.suggest{
  background-color: white;

  h2{
    text-align: center;
  }

  .btsuggest{
    width: 100%;
  }
}

.start{
  a:click{
    text-decoration: none;
  }
}

// category
.mydrop a:after{
  border-left-color: #2d2d2d !important;
}

.height-default-js{
  background-color: white;
}

.mytable th{
  text-align: center;
}

.product-edit{
  color: red;
  text-decoration: underline;
}

.cart-count {
    color: #4a4a4a;
    background: #fdd835;
    height: 20px;
    border-radius: 2px;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    padding: 0 6px;
    font-weight: 700;
}

.bt-edit{
  margin-bottom: 20px !important;
}

.show-quantity{
  margin: 10px 0 0 0;
}

.buy-now{
  margin: 10px;
}

.cart-nothing{
  padding: 20px;
}

.gravatar_edit{
  padding: 10px 0;
}

.myfl{
  width: 80vh;
  position: fixed;
  z-index: 9999;
  bottom: 0;
  right: 20px;
  box-shadow: 5px 10px 180px #2f2f2f;
}
