@import "bootstrap-sprockets";

// login
$min-height: 536px;

.sslogin{
  min-height: $min-height;
  background-color: white;

  h1{
    padding:20px 0;
    margin: 0;
    text-align:center;
  }
}

.sugges{
  min-height: $min-height;
  background-color: white;
}

.sugges{
  h2{
    text-align: center;
  }

  .btsuggest{
    width: 100%;
  }
}

.start{
  a:click{
    text-decoration: none;
  }
}

// category
.mydrop a:after{
  border-left-color: #2d2d2d !important;
}
