<% provide :title, t(".title") %>
<% provide :button_text, t(".sell") %>
<div class="row fix height-default-js">
  <div class="col-sm-4"></div>
  <div class="col-sm-4 login-view">
    <h1>
      <%= t(".title") %>
    </h1>
    <%= render "form" %>
  </div>
  <div class="col-sm-4"></div>
</div>
