$("#product_rating").html("<%= j render partial: 'product_rating', locals: {product_on: @product_on} %> ")
$("#user_rating").html("<%= j render partial: 'user_rating', locals: {user_on: @user_on} %> ")
$("#thank_rating").html("<span style='color:green'>Cảm ơn bạn đã đánh giá sản phẩm :D</span>")
$(document).ready(function(){
  rating_run();
});
