<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t(".sample"), root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("static_pages.home.page"), root_path %></li>
        <li><%= link_to t("static_pages.about.page"), "#" %></li>
        <li><%= link_to t("users.new.lin"), "#" %></li>
      </ul>
    </nav>
  </div>
</header>
