<ul class="dropdown-menu">
<% categories.each do |category| %>
  <% child_category = children_categories(category.id) %>
  <% if child_category.any? %>
    <!-- co children -->
    <li class="dropdown-submenu">
      <%= link_to category.name, products_path(category: category.id),class: "dropdown-toggle" %>
      
      <%= render partial: "layouts/subcategory", locals: {categories: child_category.to_a} %>
    </li>
    <!-- /co children -->
  <% else %>
    <li><%= link_to category.name, products_path(category: category.id) %></li>
  <% end %>
<% end %>
</ul>
