<% categories.each do |cate| %>
  <% child_category = children_categories(cate.id) %>
  <% if child_category.count > 0 %>
  <li class="dropdown-submenu mydrop">
    <%= link_to cate.name, products_path(category: cate.id), class: "dropdown-toggle" %>
    <% if child_category.any? %>
      <% child_category.each do |child| %>
        <% categories.delete(child) %>
      <% end %>
    <ul class="dropdown-menu">
      <%= render partial: "layouts/subcategory", locals: {categories: child_category.to_a} %>
    </ul>
    <% end %>   
  </li>
  <% else %>
  <li><%= link_to cate.name, products_path(category: cate.id) %></li>
  <% end %>
<% end %>
